# Build Files
release/
output/

# Large Source Files
SatMapModifier/source/images/
TradingAnalysis/source/data/*

# Bohemia Interactive Property
*.p3d

# File Types
*.kra
*.kra~

# Cached
__pycache__/
